@import '../../sass/colors.scss';


footer {
    background: black;

    .footer-logo {
        margin-bottom: 30px;

        .ivory-title{
            font-size: 38px;
            font-weight: 700;
            color: #2596be;
            letter-spacing: 3px;
            .ivory-img{
                height: 36px;
                width: 30px;
            }
        }
        .footer-para{
            text-transform: uppercase;
            margin-bottom: 0px;
            color: #2596be;
            font-size: 10px;
            font-weight: 700;
            line-height: 1.2rem;
        }
    }
    .footer-text{
        color: $color-white;
    }

    .social-logo {
        p {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: #2596be;

        }

        ul {
            margin-bottom: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                
                a {
                    color: $color-white;
                    margin-right: 10px;
                }
            }
        }
    }

    .footer-link {
        p {
            text-transform: uppercase;
            color: #2596be;
          
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: $color-white;
                    font-size: 15px;
                }
            }
        }
    }

    .footer-contact {
        p {
            text-transform: uppercase;
            color: #2596be;
        }
    }

    .contact-list {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        margin-top: 12px;

        .footer-icons{
            color: #2596be;
            margin-right: -17px;
            margin-top: 16px;
           
        }

        .contact-text {
            margin-left: 30px;

            p {
                font-size: 12px;
                margin-bottom: 5px;
                text-transform: capitalize;
                font-weight: 500;
                width: auto;
            }

            h5 {
                color: $color-white;
                font-size: 16px;
            }
        }
    }

    .copyright-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        .copy-text {
            p {
                margin-bottom: 0;
            }
        }

        .copy-links {
            ul {
                li {
                    display: inline-block;
                    margin-left: 20px; 

                    a {
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Mobile Responsive
@media (max-width:575px){
    footer {
        .contact-list {
            margin-bottom: 10px;

            .contact-icon {
                width: 45px;
                height: 45px;
                line-height: 45px;
                border-radius: 10px;

                &::before {
                    width: 60px;
                    height: 60px;
                    top: -8px;
                    left: -8px;
                    border-radius: 15px;
                }
            }
        }
    }
}