@import '../../sass/colors.scss';

.service-section {
    .service-title-text {
        padding-top: 50px;
        max-width: 600px;
        margin: 0 0 0 auto;
        font-weight: 500;
    }

    .story-reel-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .carousel-container {
        position: relative;
        padding: 20px 0;
    }

    .carousel-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .carousel-control {
            background-color: #2596be;
            color: white;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #1A6E86;
            }

            span {
                font-size: 18px;
            }
        }

        .carousel-indicators {
            display: flex;
            margin: 0 15px;

            .indicator {
                width: 8px;
                height: 8px;
                background-color: #d1d1d1;
                border-radius: 50%;
                margin: 0 5px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.3s;

                &.active {
                    background-color:  #1A6E86;
                    transform: scale(1.2);
                }
            }
        }
    }
}

// Mobile Responsive
@media (max-width: 575px) {
    .service-section {
        .service-title-text {
            padding-top: 0;
            margin-bottom: 10px;
        }
        
        .story-reel-div {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .service-section {
        .service-title-text {
            padding-top: 0;
            margin-bottom: 30px;
        }
        
        .story-reel-div {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .service-section {
        .service-title-text {
            padding-top: 0;
            margin-bottom: 30px;
        }
        
        .story-reel-div {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}