    @import '../../sass/colors.scss';

    .banner-section {
        height: 800px;
        position: relative;
        z-index: 1;
        background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../../assets/banner/icons/clinic-img.jpg');
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
      


        .banner-pattern {
            position: absolute;
            top: 10%;
            right: 0;
            left: 0;
            width: 100%;
            z-index: -1;
        }
    }
    .heading-text-div{
        width: 60%;
        padding-top: 180px;
    .banner-text {
        h1 {
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 40px;
            color: #ffffff !important;
        }
        .para-trust{
            color: #ffffff;
            .clinic-name-text{
                font-weight: 700;
            }
        }
        .banner-bottom {
            margin-top: 60px;
            display: flex;

            .theme-btn {
                margin-right: 50px;

                a {
                    padding: 15px 11px;
                    background-color: #2596be;
                }
            }

            .banner-call {
                display: flex;
                align-items: center;

                .icon {
                    width: 35px;
                    height: 35px;
                    margin-right: 30px;
                    background: $color-white;
                    line-height: 35px;
                    text-align: center;
                    border-radius: 12px;
                    position: relative;
                    z-index: 1;

                    &:before {
                        content: "";
                        position: absolute;
                        top: -35%;
                        left: -35%;
                        width: 60px;
                        height: 60px;
                        background: #ffffff;
                        z-index: -1;
                        opacity: 0.2;
                        border-radius: 17px;
                    }
                }
                
                .call-text {

                    p {
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $color-blue;
                        font-weight: 700;
                        margin-bottom: 5px;
                        color: #ffffff;
                    }

                    h6 {
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: white;
                    }
                }
            }
        }
    }
    }

    .banner-img-area {
        position: relative;
        text-align: center;

        .banner-img {
            margin-bottom: -150px;
        }

        .info-box {
            position: absolute;
            bottom: 5%;
            left: 0%;
            background: $color-white;
            border-radius: 15px;
            padding: 10px;
            display: flex;
            align-items: center;

            .info-img {
                margin-right: 10px;
            }

            .info-text {
                text-align: left;
                
                p {
                    margin-bottom: 0;
                    color: $color-black;
                    font-size: 16px;
                    font-weight: 600;

                    small {
                        color: $color-gray;
                    }
                }
            }
        }


    }


    // Mobile Responsive
    @media (max-width: 575px) {
        .banner-section{
            height: 630px;
        }
        .heading-text-div{
            width: 87%;
            padding-top: 297px;
        
        .banner-text {
            h1 {
                font-size: 27px;
                font-weight: 700;
                margin-bottom: 10px;
                color: #ffffff !important;
            }
            .para-trust{
                color: #ffffff;
                .clinic-name-text{
                    font-weight: 700;
                }
            }
            .banner-bottom {
                margin-top: 10px;
                display: flex;
        
                .theme-btn {
                    margin-right: 50px;
        
                    a {
                        padding: 13px 16px;
                    }
                }
        
                .banner-call {
                    display: flex;
                    align-items: center;
        
                    .icon {
                        width: 35px;
                        height: 35px;
                        margin-right: 30px;
                        background: $color-white;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 12px;
                        position: relative;
                        z-index: 1;
        
                        &:before {
                            content: "";
                            position: absolute;
                            top: -35%;
                            left: -35%;
                            width: 60px;
                            height: 60px;
                            background: #ffffff;
                            z-index: -1;
                            opacity: 0.2;
                            border-radius: 17px;
                        }
                    }
                    
                    .call-text {
        
                        p {
                
                        }
        
                        h6 {
                        
                        }
                    }
                }
            }
        }
        }
    }


    @media (min-width: 576px) and (max-width: 767px) {
        // Banner CSS
        .heading-text-div{
            width: 60%;
        .banner-text {
            h1 {
                font-size: 27px;
                font-weight: 700;
                margin-bottom: 40px;
                color: #ffffff !important;
            }
            .para-trust{
                color: #ffffff;
                .clinic-name-text{
                    font-weight: 700;
                }
            }
            .banner-bottom {
                margin-top: 24px;
                display: flex;
        
                .theme-btn {
                    margin-right: 50px;
        
                    a {
                        padding: 20px 25px;
                    }
                }
        
                .banner-call {
                    display: flex;
                    align-items: center;
        
                    .icon {
                        width: 35px;
                        height: 35px;
                        margin-right: 30px;
                        background: $color-white;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 12px;
                        position: relative;
                        z-index: 1;
        
                        &:before {
                            content: "";
                            position: absolute;
                            top: -35%;
                            left: -35%;
                            width: 60px;
                            height: 60px;
                            background: #ffffff;
                            z-index: -1;
                            opacity: 0.2;
                            border-radius: 17px;
                        }
                    }
                    
                    .call-text {
        
                        p {
                
                        }
        
                        h6 {
                        
                        }
                    }
                }
            }
        }
        }
    }

    // Medium Devices Responsive
    @media (min-width: 768px) and (max-width: 991px) {
        // Banner CSS
    
        .heading-text-div{
            width: 60%;
            padding-top: 334px;
        .banner-text {
            h1 {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 24px;
                color: #ffffff !important;
            }
            .para-trust{
                color: #ffffff;
                .clinic-name-text{
                    font-weight: 700;
                }
            }
            .banner-bottom {
                margin-top: 24px;
                display: flex;
        
                .theme-btn {
                    margin-right: 50px;
        
                    a {
                        padding: 18px 23px;
                    }
                }
        
                .banner-call {
                    display: flex;
                    align-items: center;
        
                    .icon {
                        width: 35px;
                        height: 35px;
                        margin-right: 30px;
                        background: $color-white;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 12px;
                        position: relative;
                        z-index: 1;
        
                        &:before {
                            content: "";
                            position: absolute;
                            top: -35%;
                            left: -35%;
                            width: 60px;
                            height: 60px;
                            background: #ffffff;
                            z-index: -1;
                            opacity: 0.2;
                            border-radius: 17px;
                        }
                    }
                    
                    .call-text {
        
                        p {
                
                        }
        
                        h6 {
                        
                        }
                    }
                }
            }
        }
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        
        .heading-text-div{
            width: 60%;
        .banner-text {
            h1 {
                font-size: 49px;
                font-weight: 700;
                margin-bottom: 40px;
                color: #ffffff !important;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
            .para-trust{
                color: #ffffff;
                .clinic-name-text{
                    font-weight: 700;
                }
            }
            .banner-bottom {
                margin-top: 60px;
                display: flex;
        
                .theme-btn {
                    margin-right: 50px;
        
                    a {
                        padding: 20px 25px;
                    }
                }
        
                .banner-call {
                    display: flex;
                    align-items: center;
        
                    .icon {
                        width: 35px;
                        height: 35px;
                        margin-right: 30px;
                        background: $color-white;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 12px;
                        position: relative;
                        z-index: 1;
        
                        &:before {
                            content: "";
                            position: absolute;
                            top: -35%;
                            left: -35%;
                            width: 60px;
                            height: 60px;
                            background: #ffffff;
                            z-index: -1;
                            opacity: 0.2;
                            border-radius: 17px;
                        }
                    }
                    
                    .call-text {
        
                        p {
                
                        }
        
                        h6 {
                        
                        }
                    }
                }
            }
        }
        }
    }

